.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  
    button {
      font-size: 1.1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding: 0.5rem 1rem;
      border: 1px solid gray;
      border-radius: 0.5rem;
      background-color: transparent;
      color: inherit;
  
      &:hover {
        cursor: pointer;
        background-color: gray;
        color: white;
      }
  
      &.active {
        background-color: #007bff;
        color: #fff;
  
        &:hover {
          background-color: #007bff;
        }
      }
    }
}
  