.orders {
    display: flex;
    flex-direction: column;
  
    .ordersContainer {
      flex: 6;
  
      .productTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .link {
          text-decoration: none;
          color: green;
          font-weight: 400;
          font-size: 15px;
          border: 1px solid green;
          padding: 2px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
  
      .cellWithImg {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
  
        .cellImg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 20px;
        }
  
        .cellName {
          flex: 1;
          font-weight: 500;
          color: #555;
          margin-right: 20px;
        }
  
        .cellPrice {
          font-weight: 500;
          color: #555;
        }
      }
  
      .cellWithStatus {
        padding: 2px;
        border-radius: 5px;
        font-weight: 500;
  
        &.Approved {
          background-color: rgba(0, 128, 0, 0.05);
          color: green;
        }
        &.Pending {
          color: goldenrod;
          background-color: rgba(189, 189, 3, 0.103);
        }
      }
  
      .cellAction {
        display: flex;
        gap: 10px;
        font-weight: 500;
  
        .viewButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: #8884d8;
          border: 1px dotted rgba(0, 0, 139, 0.596);
          cursor: pointer;
        }
  
        .deleteButton {
          padding: 2px 5px;
          border-radius: 5px;
          color: crimson;
          border: 1px dotted rgba(220, 20, 60, 0.6);
          cursor: pointer;
        }
      }
    }
  
    @media only screen and (max-width: 768px) {
      .ordersContainer {
        margin: 20px;
      }
      .productTitle {
        font-size: 20px;
      }
      .cellWithImg {
        flex-wrap: nowrap;
        .cellName {
          font-size: 14px;
          margin-right: 5px;
        }
        .cellPrice {
          font-size: 14px;
        }
      }
      .cellWithStatus, .cellAction {
        font-size: 14px;
      }
    }
  }
  