.featured {
    flex: 2;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    border-radius: 10px;
  
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: gray;
      margin-top: -6px;
  
      .title {
        font-size: 16px;
        font-weight: 500;
      }
    }
  
    .bottom {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
  
      .featuredChart {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
  
      .title {
        font-weight: 500;
        color: gray;
        font-size: 16px;
        text-align: center;
      }
  
      .amount {
        font-size: 28px;
        margin-bottom: 5px;
      }
  
      .desc {
        font-weight: 300;
        font-size: 14px;
        color: gray;
        text-align: center;
        line-height: 1.2;
      }
  
      .summary {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
  
        .item {
          text-align: center;
          width: 50%;
          margin-bottom: 10px;
  
          .itemTitle {
            font-size: 14px;
            color: gray;
          }
  
          .itemResult {
            display: flex;
            align-items: center;
            margin-top: 5px;
            font-size: 14px;
  
            &.positive {
              color: green;
            }
            &.negative {
              color: red;
            }
          }
        }
      }
    }
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 10px;
  
      .featuredChart {
        width: 80px;
        height: 80px;
        margin-bottom: 5px;
      }
  
      .title {
        font-size: 14px;
        margin-top: 10px;
      }
  
      .amount {
        font-size: 22px;
      }
  
      .desc {
        font-size: 12px;
      }
  
      .summary {
        margin-top: 15px;
  
        .item {
          width: 100%;
        }
      }
    }
  }
  