.new {
  display: flex;
  width: 100%;

  .newContainer {
    flex: 6;

    .top,
    .bottom {
      padding: 20px;
      margin: 20px;
      display: flex;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      border-radius: 10px;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .left {
        flex: 1;
        text-align: center;
      }

      // img {
        // width: 100px;
        // height: 100px;
        // border-radius: 50%;
        // object-fit: cover;
      // }

      .right {
        flex: 2;

        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .content {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          position: inline-block;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            // width: 40%;
            width: 100%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              .imgIcon {
                cursor: pointer;
              }
            }

            input, select {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;

              &[type="date"] {
                color: gray;
                cursor: pointer;
              }

              &:focus {
                outline: none;
                border-bottom: 1px solid #8884d8;
                transition: border-bottom-width 0.5s ease-in-out;
              }
            }
            textarea{
                width: 100%;
                resize: none;
            }
          }
        }

        button {
          width: 150px;
          padding: 10px;
          border: 1px solid #8884d8;
          background-color: transparent;
          font-weight: bold;
          color: #8884d8;
          cursor: pointer;
          margin-top: 10px;

          &:hover {
            background-color: teal;
            color: #fff;
            border: 1px solid teal;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .newContainer {
      .top,
      .bottom {
        flex-direction: column;
        margin: 10px;
        padding: 20px;
      }

      .right form {
        flex-direction: column;
        gap: 20px;

        .formInput {
          width: 100%;
        }

        button {
          width: 100%;
        }
      }
    }
  }
}
